# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd

# Compiled binaries / DLLs
*.dll
*.so
*.exe

# Archives / zips
*.zip

# OS artifacts
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.env/

# IDE
.vscode/
.idea/

# Logs
*.log
